* text=auto eol=crlf

readme.md export-ignore
*.patch export-ignore
*.htm export-ignore
*.html export-ignore
.gitignore export-ignore
.gitattributes export-ignore
*.gif binary
*.ico binary
*.jpg binary
*.png binary
*.exe binary
